.bg-mountains {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #92070c 0%, #eb6740 40%, #ff7d4c 100%);
  box-shadow: 0 0 10px #615959;
}
.mountain-1 {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 260px solid transparent;
  border-bottom: 120px solid #943221;
}
.mountain-2 {
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 90px solid #c23a22;
  z-index: 3;
}
.mountain-3 {
  width: 0;
  height: 0;
  border-left: 550px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 240px solid #612928;
}
.mountain-4 {
  width: 0px;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 200px solid #c23a22;
}
.mountains-sun {
  background: #fee298;
  box-shadow: 0 0 50px #ffa500;
}
.mountain-star > div {
  animation: twinkle 2s infinite;
}
.mountain-star > div:nth-child(1) {
  /* left: 10px; */
  /* top: 20px; */
}
.mountain-star > div:nth-child(2) {
  /* left: 100px; */
  /* top: 70px; */
  animation: twinkle 3s infinite;
}
.mountain-star > div:nth-child(3) {
  /* left: 200px; */
  /* top: 50px; */
  animation: twinkle 4s infinite;
}
.mountain-star > div:nth-child(4) {
  /* left: 500px; */
  /* top: 20px; */
  animation: twinkle 3s infinite;
}
.mountain-star > div:nth-child(5) {
  /* left: 500px; */
  /* top: 150px; */
  animation: twinkle 4s infinite;
}
.mountain-star > div:nth-child(6) {
  /* left: 300px; */
  /* top: 100px; */
}
.mountain-star > div:nth-child(7) {
  /* left: 20px; */
  /* top: 150px; */
  animation: twinkle 4s infinite;
}
/* @keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255, 255, 255, 0);
    animation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255, 255, 255, 1);
    animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255, 255, 255, 0);
    transform: scale(1, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
    transform: scale(1, 1);
  }
} */
