@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto+Flex:opsz,wght@8..144,300;8..144,600;8..144,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-serif font-semibold;
  }
  h2 {
    @apply text-2xl font-serif font-semibold;
  }
  h3 {
    @apply text-xl font-serif font-semibold;
  }
  p {
    @apply text-base font-serif;
  }
  body {
    @apply text-base font-serif;
  }
  ul {
    @apply p-0;
  }
  input {
    @apply border-black border-solid rounded-lg py-3 px-0 my-0 border-0 outline-none text-center;
  }
  button[type='submit'] {
    @apply border-black text-white border-solid rounded-lg py-2 px-4 font-serif text-3xl bg-pink;
  }
}

@layer components {
  .section {
    @apply container max-w-7xl mx-auto py-8 px-4;
  }
  .card {
    @apply bg-transparent h-[370px];
  }
  .letter-box {
    @apply bg-white text-white font-bold border-black rounded-lg px-4 py-2 text-3xl;
  }
  .card-title {
    @apply bg-transparent;
  }
  .card-image {
    @apply w-full relative overflow-auto h-auto;
  }
  .card-face {
    @apply relative z-20;
  }
  .card-background {
    @apply h-[370px];
  }
  .card-title {
    @apply uppercase;
  }
  .card-body {
    @apply bg-transparent;
  }
  .card-back {
    @apply bg-transparent;
  }
}

button,
input,
.card,
.letter-box {
  -webkit-box-shadow: 6px 6px 0px 0px #0c0c0c;
  box-shadow: 6px 6px 0px 0px #0c0c0c;
  border-radius: 4px;
  border: 6px solid #0c0c0c;
}

body {
  background: #4c3cfa;
  background-image: url('../assets/images/stars.png');
}
.bg-blue {
  background: #0cdad0;
}
.background-black {
  @apply bg-black;
}
.background-blue {
  @apply bg-skyBlue;
}
.background-blue-gray,
.bg-blue-gray {
  @apply bg-gradient-to-r from-darkBlue via-skyBlue to-grey;
}
.bg-green-tan-brown {
  @apply bg-gradient-to-r from-green via-tan to-brown;
}
.bg-fair-green-yellow {
  @apply bg-gradient-to-r from-fair via-green to-yellow;
}
.bg-grey-green-yellow {
  @apply bg-gradient-to-r from-grey via-green to-yellow;
}
.bg-red-blue-white {
  @apply bg-gradient-to-r from-red via-blue to-white;
}
.bg-white-blue {
  @apply bg-gradient-to-r from-white to-darkBlue;
}
.bg-white-red {
  @apply bg-gradient-to-r from-white to-red;
}
.bg-brown-white {
  @apply bg-gradient-to-r from-brown to-white;
}
.bg-green-yellow {
  @apply bg-gradient-to-r from-green to-yellow;
}
.bg-silver-red {
  @apply bg-gradient-to-r from-silver to-red;
}
.bg-green-grey {
  @apply bg-gradient-to-r from-green to-grey;
}
.bg-brown-grey {
  @apply bg-gradient-to-r from-brown to-grey;
}
.bg-auburn-white {
  @apply bg-gradient-to-r from-brown to-grey;
}
.bg-auburn-grey {
  @apply bg-gradient-to-r from-auburn to-grey;
}
.bg-grey-red {
  @apply bg-gradient-to-r from-grey to-red;
}
.bg-blue-grey {
  @apply bg-gradient-to-r from-blue to-grey;
}
.bg-grey-blue {
  @apply bg-gradient-to-r from-grey to-blue;
}
.background-brown {
  @apply bg-brown;
}
.background-white {
  @apply bg-white;
}
.background-yellow {
  @apply bg-yellow;
}
.background-orange {
  @apply bg-orange;
}
.background-red {
  @apply bg-red;
}
.background-green {
  @apply bg-green;
}
.background-purple {
  @apply bg-purple;
}
.background-pink {
  @apply bg-pink;
}

.background-hazel {
  @apply bg-green;
}
.bg-fair {
  background: #ffd6a4;
}
.bg-light {
  background: #fbe5ba;
}
.bg-pale {
  background: #fdf5e2;
}
.bg-hazel {
  background: #637f19;
}
.bg-metal {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
.bg-dark {
  background: #6f4f1d;
}
.bg-grey {
  background: #999999;
}
.bg-blond {
  background: #faf0be;
}
.background-gold,
.bg-gold {
  background: #ffd700;
}

.bg-pink {
  background: #ff00ff;
}
.bg-yellow {
  background: #ffff00;
}
.bg-darkBlue {
  background: #0000ff;
}

/* LANDSCAPES */
.bg-naboo {
  background: linear-gradient(to bottom, #1111de 0%, #0cdad0 70%, #0cdad0 100%);
}
.tree {
  clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
  box-shadow: 2px 0 2px 4px rgba(0, 0, 0, 0.1);
}

.disabled {
  cursor: not-allowed;
}

.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 0.05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: #fff;
}

.spinner:after {
  border-top-color: #7450fa;
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
}
