@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h3 {
  @apply text-lg md:text-2xl font-semibold;
}

p {
  @apply text-lg opacity-90;
}

.popup {
  position: absolute;
  top: 100%;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 450px;
  border: 1px solid white;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .popup {
    width: 90vw;
  }
}
