@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700;900&family=Silkscreen&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

/* theme colors can be found in /styles/themes.ts */

/* :root variables that do not change with theme */
:root {
  --loader-size: 1rem;
  --loader-border: 0.125rem;
  --border-width: 0.063rem;
  --transition-speed: 0.3s;
  --animation-speed: 1s;
  --hover-scale: 1.05;
  --text-underline-offset: 0.25rem;
  --box-shadow: 0 0 0 0.188rem rgba(66, 153, 225, 0.5);
}

@layer base {
  html,
  .text-golos {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .text-silkscreen {
    font-family: 'Silkscreen', cursive;
    color: var(--text-color);
    text-decoration: uppercase;
  }

  h1 {
    @apply text-5xl md:text-8xl text-center pb-10;
  }

  h2 {
    @apply text-3xl md:text-5xl pb-8;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  span {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }
  a p {
    color: var(--text-color);
  }
  button {
    @apply px-3 py-2 transition-all duration-300;
    outline: none;
  }
  img,
  button,
  .input,
  .card {
    @apply rounded;
  }
}

@layer components {
  .full-width-section {
    @apply max-w-full py-8 px-4 mx-auto;
  }

  .btn-primary,
  .btn-secondary {
    @apply px-3 py-2;
  }

  .card {
    @apply bg-gray-200 shadow-lg p-6;
  }

  .card-body {
    @apply flex flex-col space-y-6;
  }

  .card-title {
    @apply text-2xl font-semibold;
  }

  .card-text {
    @apply text-lg font-light;
  }

  .sub-title {
    @apply text-lg lg:text-xl;
  }

  .input {
    @apply px-3 py-2;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* LINKS */
a {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
}

a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  border-bottom: 1px solid var(--primary-color);
  transition: right var(--transition-speed) ease;
  text-underline-offset: var(--text-underline-offset);
}

a:hover:before {
  right: 0;
}

a:hover {
  opacity: 0.9;
}

.no-underline-on-hover:hover:before {
  display: none;
}

/* ICONS */
svg {
  stroke: var(--primary-icon-color);
}

/* DEBUG STYLING */
pre {
  background-color: var(--surface-color);
  border-radius: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  color: var(--text-secondary);
  font-family: monospace;
}

/* FORM ELEMENTS */
input {
  border-color: var(--border-color);
  border-width: var(--border-width);
}

/* BUTTON & BUTTON STATE CLASSES */
a button {
  text-decoration: none;
}
.button-link:hover:before {
  right: 100%;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
}

.btn-primary:hover {
  background-color: var(--hover-color);
}

.btn-primary:active {
  background-color: var(--active-color);
}

.btn-primary:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.disabled,
.btn-primary:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-on-primary-color);
}

.btn-secondary:hover {
  background-color: var(--hover-secondary-color);
}

.btn-secondary:active {
  background-color: var(--active-secondary-color);
}

.btn-secondary:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.btn-secondary:disabled {
  background-color: var(--disabled-secondary-color);
  cursor: not-allowed;
}

/* TYPOGRAPHY CLASSES */
.text-on-primary {
  color: var(--text-on-primary-color);
}
.text-on-secondary {
  color: var(--text-on-secondary-color);
}

/* BACKGROUND CLASSES */
.bg-image-overlay {
  background-color: var(--bg-opacity-color);
}
.bg-opposite-theming {
  background-color: var(--text-color);
}

/* DARK LIGHT STYLES */

.sun {
  color: var(--sun-icon-color);
}

.moon {
  color: var(--moon-icon-color);
}

.icon-white svg {
  stroke: #ffffff;
}
