@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700;900&family=Silkscreen&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Golos Text', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Silkscreen', cursive;
    @apply text-primary uppercase pb-10;
  }
  body {
    @apply bg-white;
  }
  h1 {
    @apply text-6xl md:text-9xl pb-10;
  }
  h2 {
    @apply text-4xl md:text-7xl pb-8;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  span {
    @apply text-lg;
  }
  span a {
    @apply text-black;
  }
}

@layer components {
  .section {
    @apply container max-w-7xl mx-auto py-8 px-4;
  }
  .full-width-container {
    @apply mx-auto;
    max-width: 100%;
  }
  .btn-primary {
    @apply !bg-primary text-white px-3 py-2 rounded-2xl;
  }
  .btn-secondary {
    @apply !bg-secondary text-white px-3 py-2 rounded-2xl;
  }
  .card {
    @apply bg-gray-200 shadow-lg rounded-2xl p-6;
  }
  .card-body {
    @apply flex flex-col space-y-6;
  }
  .card-title {
    @apply text-2xl font-semibold;
  }
  .card-text {
    @apply text-lg font-light;
  }
  .sub-title {
    @apply text-lg lg:text-xl;
  }
  .navbar-logo-text {
    @apply no-underline;
  }
  .input {
    @apply border border-gray-300 rounded-2xl px-3 py-2;
  }
}

section {
  @apply my-8;
}
button[disabled] {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed;
}

a button span {
  @apply no-underline;
}

#__next {
  height: 100%;
}

a {
  @apply text-primary decoration-primary;
}

a:hover {
  @apply text-gray-300 opacity-90;
}

pre {
  @apply bg-gray-100 rounded-2xl p-4 overflow-x-auto;
}

code {
  @apply text-gray-800 font-mono;
}

.silkscreen {
  font-family: 'Silkscreen', cursive;
}
