@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700;900&family=Silkscreen&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

/* :root variables can be found in /styles/themes.ts */

body {
  background: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  text-decoration-color: var(--primary-color);
}

p,
span {
  color: var(--text-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
  text-decoration-color: #f25626;
  text-underline-offset: 4px;
  opacity: 0.9;
}

svg {
  stroke: var(--primary-icon-color);
}

pre {
  background-color: var(--surface-color);
  border-radius: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  color: var(--text-secondary);
  font-family: monospace;
}

input {
  border-color: var(--border-color);
}

@layer base {
  html {
    font-family: 'Golos Text', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Silkscreen', cursive;
    color: var(--heading-color);
  }

  h1 {
    @apply text-5xl md:text-9xl text-center pb-10;
  }

  h2 {
    @apply text-3xl md:text-5xl pb-8;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  span {
    @apply text-lg;
  }
}

.bg-primary {
  background-color: var(--primary-color);
}

@layer components {
  .full-width-section {
    @apply max-w-full py-8 px-4 mx-auto;
  }

  .btn-primary {
    @apply text-white px-3 py-2 rounded-2xl bg-primary;
  }

  .btn-secondary {
    @apply text-white px-3 py-2 rounded-2xl;
  }

  .card {
    @apply bg-gray-200 shadow-lg rounded-2xl p-6;
  }

  .card-body {
    @apply flex flex-col space-y-6;
  }

  .card-title {
    @apply text-2xl font-semibold;
  }

  .card-text {
    @apply text-lg font-light;
  }

  .sub-title {
    @apply text-lg lg:text-xl;
  }

  .navbar-logo-text,
  a button span {
    @apply no-underline;
  }

  .input {
    @apply border rounded-2xl px-3 py-2;
  }
}

.text-on-secondary {
  color: var(--text-on-secondary-color);
}

.bg-image-overlay {
  background-color: var(--text-on-primary-color);
}

button[disabled] {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}
