@tailwind components;
@tailwind base;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poller+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: 'Nunito', sans-serif;
    @apply font-bold;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  hr {
    @apply my-2 h-0.5 border-t-0;
  }
  p,
  a,
  li,
  span,
  label,
  input,
  textarea,
  select {
    font-family: 'Roboto', sans-serif;
    @apply font-normal text-black;
  }
}

@layer components {
  .section {
    @apply container max-w-7xl mx-auto py-8 px-4;
  }
  .btn-primary {
    @apply !bg-primary text-white px-3 py-2 w-full border !border-primary;
  }
  .modal {
    @apply text-black;
  }
  .btn-hamburger {
    @apply px-2.5 py-1.5 flex items-center border-none;
  }
  .btn-nav-icon-menu {
    @apply border-none focus:scale-90 transition duration-150 ease-in-out px-2.5;
  }
  .mobile-menu {
    @apply mt-4 absolute right-2 top-8 bg-white shadow-2xl w-48 text-left rounded-md pt-2 pb-1 z-50;
  }
  .admin-card {
    @apply bg-white shadow-md rounded-md p-4;
  }
  .btn-icon {
    @apply border-none focus:scale-90 transition duration-150 ease-in-out px-2.5;
  }
  .btn-icon svg {
    @apply flex justify-end;
  }
  .select {
    @apply border border-gray-400 rounded-lg py-2 px-4 block w-full appearance-none leading-normal;
  }
  .popver-container {
    @apply bg-white text-slate-900 rounded-md shadow-lg p-4;
  }
  .popover-trigger {
    @apply bg-slate-100 text-slate-900 py-1 px-3 rounded-md;
  }
  .popover-trigger:hover {
    @apply bg-slate-200;
  }
  .popover-trigger:focus {
    @apply bg-slate-200;
  }
  .popover-trigger:active {
    @apply bg-slate-200;
  }
  .popover-trigger:disabled {
    @apply bg-slate-100 text-slate-900 py-1 px-3 rounded-md cursor-not-allowed;
  }
  .popover-content {
    @apply bg-white text-slate-900 rounded-md shadow-lg p-4;
  }
  .progress-horizontal-container {
    @apply bg-slate-100 text-slate-900 rounded-md h-2 w-full;
  }
  .progress-horizontal-value {
    @apply bg-indigo-500 text-white text-xl px-3 py-2 rounded-lg;
  }
  .progress-circular-container {
    @apply bg-slate-100 text-slate-900 rounded-md h-2 w-full;
  }
  .progress-circular-value {
    @apply bg-indigo-500 text-white text-xl px-3 py-2 rounded-lg;
  }
  .card {
    @apply bg-white  text-slate-900 rounded-md shadow-lg p-4 w-full;
  }
  .creature-card {
    @apply rounded-md shadow-lg p-4 w-full min-h-[500px];
  }
}

.italic {
  font-style: italic;
  font-family: 'Poller One', cursive;
}

input {
  @apply border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal;
}

button {
  @apply border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal;
}

input {
  @apply h-14;
}

.mobile-menu li {
  @apply h-12 flex items-center;
}

.mobile-menu li a,
.mobile-menu li button {
  @apply font-normal px-3;
}

.mobile-menu li:hover {
  @apply bg-gray-200;
}

.creature-card p {
  color: white;
}

.creature-grid > * {
  color: white;
}
