@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme colors can be found in /styles/themes.ts */

/* :root variables that do not change with theme */
:root {
  --loader-size: 1rem;
  --loader-border: 0.125rem;
  --border-width: 0.063rem;
  --transition-speed: 0.3s;
  --animation-speed: 1s;
  --hover-scale: 1.05;
  --text-underline-offset: 0.25rem;
  --box-shadow: 0 0 0 0.188rem rgba(66, 153, 225, 0.5);
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', sans-serif;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}

@layer components {
  input[type='number'],
  input[type='text'],
  input[type='string'] {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm h-[2.375rem];
  }

  select {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm;
  }
  .btn-primary {
    @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
  }
  .btn-primary:hover {
    background-color: var(--btn-primary-hover-bg);
  }
  .btn-secondary {
    @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
    background-color: var(--secondary);
    color: var(--btn-secondary-text);
  }
  .btn-secondary:hover {
    background-color: var(--btn-secondary-hover-bg);
  }
  .btn-danger {
    @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
    background-color: var(--danger);
    color: var(--btn-danger-text);
  }
  .btn-danger:hover {
    background-color: var(--btn-danger-hover-bg);
  }
  .btn-warning {
    @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
    background-color: var(--warning);
    color: var(--btn-warning-text);
  }
  .btn-warning:hover {
    background-color: var(--btn-warning-hover-bg);
  }
  .btn-success {
    @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
    background-color: var(--success);
    color: var(--btn-success-text);
  }
  .btn-success:hover {
    background-color: var(--btn-success-hover-bg);
  }
  .btn-info {
    @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
    background-color: var(--info);
    color: var(--btn-info-text);
  }
  .btn-info:hover {
    background-color: var(--btn-info-hover-bg);
  }
  .form-input {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm;
  }
  .form-select {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm;
  }
  .form-checkbox {
    @apply block h-auto;
  }
}
