@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

/* theme colors can be found in /styles/themes.ts */

/* :root variables that do not change with theme */
:root {
  --loader-size: 1rem;
  --loader-border: 0.125rem;
  --border-width: 0.063rem;
  --transition-speed: 0.3s;
  --animation-speed: 1s;
  --hover-scale: 1.05;
  --text-underline-offset: 0.25rem;
  --box-shadow: 0 0 0 0.188rem rgba(66, 153, 225, 0.5);
  --button-padding-x: 0.75rem;
  --button-padding-y: 0.5rem;
  --button-border-width: 0.063rem;
  --button-border-radius: 0.25rem;
  --button-padding-y: 0.5rem;
  --button-border-width: 0.063rem;
  --button-border-radius: 0.25rem;
  --transition-all: all;
  --duration-300: 0.3s;
  --rounded: rounded;
  --input-padding-y: 0.5rem;
  --input-padding-x: 0.75rem;
  --input-border-width: 0.063rem;
  --input-border-radius: 0.25rem;
  --input-font-size: 1rem;
  --input-height: 2.5rem;
  --input-border-color: #e2e8f0;
  --input-focus-outline-color: #4299e1;
  --input-focus-outline-width: 0.125rem;
  --input-focus-outline-offset: 0.125rem;
  --select-appearance: none;
  --select-width: 100%;
  --select-padding-y: 0.5rem;
  --select-padding-x: 0.75rem;
  --select-border-width: 0.063rem;
  --select-border-radius: 0.25rem;
  --select-font-size: 1rem;
  --select-height: 2.5rem;
  --select-border-color: #e2e8f0;
}

@layer base {
  html,
  body {
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  p {
    @apply text-base;
  }
  dialog {
    @apply fixed left-0 top-0 z-50 max-w-7xl translate-y-[30px] md:translate-y-[-135px] lg:translate-y-[-0px] xl:translate-y-[-30px] 2xl:translate-y-[-235px] w-11/12 lg:w-1/2 xl:w-2/5 2xl:w-1/4 h-[530px] md:h-[550px] xl:h-[555px] overflow-y-hidden;
  }
  form {
    @apply flex flex-col space-y-4 pt-4;
  }
  form,
  input,
  select,
  textarea,
  dialog {
    @apply rounded-md;
  }
}

@layer components {
  .section {
    @apply container max-w-7xl mx-auto py-8 px-4;
  }
  .text-primary {
    @apply text-white;
  }
  .card {
    @apply transition duration-500 ease-in-out transform;
  }
  .card:hover {
    @apply -translate-y-1 scale-110 z-50;
  }
  .skeleton-text-container {
    @apply space-y-2;
  }
  .skeleton {
    @apply w-[100px];
  }
  .skeleton-text {
    @apply h-6 rounded w-full;
  }
}

@layer utilities {
  .svg-hover:hover {
    transform: scale(1.2);
  }
}

html,
body {
  background: var(--bg-color);
}

body {
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

dialog {
  background-color: var(--dialog-bg-color);
  border: var(--border-width) solid var(--border-color);
}

/* LINKS */
a {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
}

/* ICONS */
svg {
  stroke: var(--primary-fill);
}

/* DARK LIGHT STYLES */
.moon,
.sun {
  transition: opacity 0.3s, transform 0.3s;
}
.sun {
  stroke: var(--sun-icon-color);
}
.moon {
  stroke: var(--moon-icon-color);
}
.moon.fade-out,
.sun.fade-out {
  opacity: 0;
  transform: scale(0.9); /* Slight shrink */
}

/* DEBUG STYLING */
pre {
  background-color: var(--surface-color);
  border-radius: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  color: var(--text-secondary);
  font-family: monospace;
}

/* INPUT CLASSES */
input[type='number'],
input[type='text'],
input[type='string'] {
  padding: var(--input-padding-y) var(--input-padding-x);
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  height: var(--input-height);
  width: 100%;
}
input[type='number']:focus,
input[type='text']:focus,
input[type='string']:focus {
  outline: none;
  border-color: var(--input-focus-outline-color);
  border-width: var(--input-focus-outline-width);
  border-offset: var(--input-focus-outline-offset);
}
input[type='checkbox'] {
  display: block;
  margin: auto;
}
input[type='checkbox']:focus {
  outline: none;
}
textarea {
  padding: var(--input-padding-y) var(--input-padding-x);
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  height: 6rem;
  width: 100%;
}
textarea:focus {
  outline: none;
  border-color: var(--input-focus-outline-color);
  border-width: var(--input-focus-outline-width);
  border-offset: var(--input-focus-outline-offset);
}

/* SELECT CLASSES */
select {
  appearance: var(--select-appearance);
  width: var(--select-width);
  padding: var(--select-padding-y) var(--select-padding-x);
  border-width: var(--select-border-width);
  border-color: var(--select-border-color);
  border-radius: var(--select-border-radius);
  font-size: var(--select-font-size);
  height: var(--select-height);
}

form > div {
  display: flex;
  flex-direction: column;
}

form > * + * {
  margin-top: 1rem;
}

/* BUTTON & BUTTON STATE CLASSES */
button,
.btn {
  padding: var(--button-padding-y) var(--button-padding-x);
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition-all) var(--duration-300);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}
.btn-primary:hover {
  background-color: var(--hover-color);
  color: var(--text-on-hover-color); /* Optional: Change text color on hover */
}
.btn-primary:active {
  background-color: var(--active-color);
}
.btn-primary:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
.disabled,
.btn-primary:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-on-primary-color);
}
.btn-secondary:hover {
  background-color: var(--hover-secondary-color);
}
.btn-secondary:active {
  background-color: var(--active-secondary-color);
}
.btn-secondary:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
.btn-secondary:disabled {
  background-color: var(--disabled-secondary-color);
  cursor: not-allowed;
}
.btn-danger {
  background-color: var(--error-color);
  color: var(--text-on-primary-color);
}
.btn-danger:hover {
  background-color: var(--hover-color);
}
.btn-danger:active {
  background-color: var(--active-color);
}
.btn-danger:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
.btn-success {
  background-color: var(--success-color);
  color: var(--text-on-primary-color);
}
.btn-success:hover {
  background-color: var(--hover-color);
}
.btn-success:active {
  background-color: var(--active-color);
}
.btn-success:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
.btn-warning {
  background-color: var(--warning-color);
  color: var(--text-on-primary-color);
}
.btn-warning:hover {
  background-color: var(--hover-color);
}
.btn-warning:active {
  background-color: var(--active-color);
}
.btn-warning:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
.btn-info {
  background-color: var(--info-color);
  color: var(--text-on-primary-color);
}
.btn-info:hover {
  background-color: var(--hover-color);
}
.btn-info:active {
  background-color: var(--active-color);
}
.btn-info:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button span {
  margin-left: 8px;
}

/* DIALOG CLASSES */
dialog::backdrop {
  background-color: var(--backdrop-color, black);
  position: fixed;
  inset: 0;
  opacity: 0.5;
}

/* TYPOGRAPHY CLASSES */
.text-on-primary {
  color: var(--text-on-primary-color);
}
.text-on-secondary {
  color: var(--text-on-secondary-color);
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Black shadow with 30% opacity */
}

/* CARD CLASSES */
.card {
  border: var(--border-width) solid var(--border-color);
  background: var(--bg-color);
}

/* BACKGROUND CLASSES */
.light-gradient {
  background-image: linear-gradient(
    to bottom left,
    var(--secondary-fill),
    var(--gradient-color)
  );
}
.dark-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-fill),
    var(--gradient-color)
  );
}
