@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

/* theme colors can be found in /styles/themes.ts */

/* :root variables that do not change with theme */
:root {
  /* --primary-color: #3b82f6;
  --secondary-color: #6b7280;
  --danger-color: #ef4444;
  --warning-color: #facc15;
  --success-color: #10b981;
  --info-color: #3b82f6;
  --btn-primary-text: #1e40af;
  --btn-primary-hover-bg: #bfdbfe;
  --btn-secondary-text: #374151;
  --btn-secondary-hover-bg: #e5e7eb;
  --btn-danger-text: #ffffff;
  --btn-danger-hover-bg: #fecaca;
  --btn-warning-text: #92400e;
  --btn-warning-hover-bg: #fde68a;
  --btn-success-text: #064e3b;
  --btn-success-hover-bg: #a7f3d0;
  --btn-info-text: #1e40af;
  --btn-info-hover-bg: #bfdbfe; */
  --loader-size: 1rem;
  --loader-border: 0.125rem;
  --border-width: 0.063rem;
  --transition-speed: 0.3s;
  --animation-speed: 1s;
  --hover-scale: 1.05;
  --text-underline-offset: 0.25rem;
  --box-shadow: 0 0 0 0.188rem rgba(66, 153, 225, 0.5);
}

@layer base {
  html,
  body {
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  p {
    @apply text-base;
  }
  dialog {
    @apply fixed left-0 top-0 z-50 max-w-7xl translate-y-[30px] md:translate-y-[-135px] lg:translate-y-[-0px] xl:translate-y-[-30px] 2xl:translate-y-[-235px] w-11/12 lg:w-1/2 xl:w-2/5 2xl:w-1/4 h-[530px] md:h-[550px] xl:h-[555px] overflow-y-hidden;
  }
  form {
    @apply flex flex-col space-y-4 pt-4;
  }
  form,
  input,
  select,
  textarea,
  dialog {
    @apply rounded-md;
  }
}

@layer components {
  .section {
    @apply container max-w-7xl mx-auto py-8 px-4;
  }
  .btn-primary {
    @apply hover:opacity-80 px-8 py-2 rounded-lg text-lg text-white;
  }
  .text-primary {
    @apply text-white;
  }
  .card {
    @apply transition duration-500 ease-in-out transform;
  }
  .card:hover {
    @apply -translate-y-1 scale-110 z-50;
  }
  .skeleton-text-container {
    @apply space-y-2;
  }
  .skeleton {
    @apply w-[100px];
  }
  .skeleton-text {
    @apply h-6 rounded w-full;
  }
}

@layer utilities {
  .svg-hover:hover {
    transform: scale(1.2);
  }
}

html,
body {
  background: var(--bg-color);
}

body {
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

dialog {
  background-color: var(--dialog-bg-color);
  border: var(--border-width) solid var(--border-color);
}

/* LINKS */
a {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
}

/* ICONS */
svg {
  stroke: var(--primary-icon-color) !important;
}

/* DEBUG STYLING */
pre {
  background-color: var(--surface-color);
  border-radius: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  color: var(--text-secondary);
  font-family: monospace;
}

/* FORM ELEMENTS */
input,
textarea {
  border-color: var(--border-color);
  border-width: var(--border-width);
}

select {
  border-color: var(--border-color);
  border-width: var(--border-width);
  background-color: var(--surface-color);
  color: var(--text-color);
  padding: 0.5rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > * + * {
  margin-top: 1rem;
}

/* BUTTON & BUTTON STATE CLASSES */
.bg-primary {
  background: var(--primary-color);
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.btn-primary:hover {
  background-color: var(--hover-color);
  color: var(--text-on-hover-color); /* Optional: Change text color on hover */
}

.btn-primary:active {
  background-color: var(--active-color);
}

.btn-primary:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.disabled,
.btn-primary:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-on-primary-color);
}

.btn-secondary:hover {
  background-color: var(--hover-secondary-color);
}

.btn-secondary:active {
  background-color: var(--active-secondary-color);
}

.btn-secondary:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.btn-secondary:disabled {
  background-color: var(--disabled-secondary-color);
  cursor: not-allowed;
}

dialog::backdrop {
  background-color: var(--backdrop-color, black);
  position: fixed;
  inset: 0;
  opacity: 0.5;
}

.light-gradient {
  background-image: linear-gradient(
    to bottom left,
    var(--secondary-icon-color),
    var(--gradient-color)
  );
}

.dark-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-icon-color),
    var(--gradient-color)
  );
}

/* TYPOGRAPHY CLASSES */
.text-on-primary {
  color: var(--text-on-primary-color);
}
.text-on-secondary {
  color: var(--text-on-secondary-color);
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Black shadow with 30% opacity */
}

/* CARD CLASSES */
.card {
  border: var(--border-width) solid var(--border-color);
  background: var(--bg-color);
}
