.bgForests {
  background-color: #fff8e1;
}
.bgRainforests {
  background-image: url(https://i.postimg.cc/XvR6CjbY/rain.png);
  animation: rain 5s linear infinite;
}
@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}

.forestTree {
  position: absolute;
  height: 50%;
}

.treeOne {
  width: 27%;
}

.topOne {
  position: absolute;
  top: 2%;
  background-color: #aadcd7;
  height: 55%;
  width: 100%;
  border-radius: 37% 51% 34% 43% / 57% 64% 27% 20%;
}

.trunkOne {
  position: absolute;
  left: 40%;
  bottom: 3%;
  background-color: #dcac5f;
  height: 80%;
  width: 10%;
  z-index: 2;
  border-radius: 100% 9% 51% 42% / 100% 100% 0% 0%;
}

.trunkOneBottom {
  position: absolute;
  left: 40%;
  bottom: 2%;
  background-color: #dcac5f;
  width: 10%;
  height: 10%;
  border-radius: 30% 70% 53% 47% / 76% 69% 31% 24%;
}

.branchOneRight {
  position: absolute;
  right: 20%;
  top: 15%;
  height: 50%;
  width: 20%;
}

.branchOneR {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(45deg);
  background-color: #dcac5f;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branch2r {
  height: 45%;
  top: 32%;
}

.branchOneLeft {
  position: absolute;
  right: 46%;
  top: 20%;
  height: 40%;
  width: 20%;
}

.branchOneL {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(315deg);
  background-color: #dcac5f;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branch2l {
  height: 65%;
  top: 22%;
  right: 100%;
}

.treeTwo {
  left: 17%;
  width: 20%;
}

.topTwo {
  position: absolute;
  top: 25%;
  background-color: #307c7c;
  height: 55%;
  width: 100%;
  border-radius: 100% 36% 51% 42% / 100% 100% 33% 21%;
}

.trunkTwo {
  position: absolute;
  left: 40%;
  bottom: 2%;
  background-color: #594a42;
  height: 60%;
  width: 10%;
  z-index: 2;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.trunkTwoBottom {
  position: absolute;
  left: 40%;
  bottom: 0;
  background-color: #594a42;
  width: 10%;
  height: 10%;
  border-radius: 30% 70% 53% 47% / 76% 69% 31% 24%;
}

.branchTwoRight {
  position: absolute;
  right: 25%;
  top: 35%;
  height: 40%;
  width: 20%;
}

.branchTwoR {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(45deg);
  background-color: #594a42;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branchRs {
  top: 20%;
  right: 60%;
  height: 45%;
}

.branchRt {
  top: 45%;
  right: 60%;
  height: 60%;
}

.branchTwoLeft {
  position: absolute;
  right: 50%;
  top: 40%;
  height: 30%;
  width: 20%;
}

.branchTwoL {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(315deg);
  background-color: #594a42;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branchLs {
  top: 20%;
  right: 90%;
  height: 65%;
}

.branchLt {
  top: 60%;
  right: 80%;
  height: 60%;
}

.treeThree {
  width: 33%;
  left: 30%;
}

.topThree {
  position: absolute;
  top: 0;
  background-color: #608445;
  height: 55%;
  width: 100%;
  border-radius: 100% 79% 63% 54% / 100% 82% 46% 53%;
  z-index: -1;
}

.trunkThree {
  position: absolute;
  left: 40%;
  bottom: 6%;
  background-color: #6d5f58;
  height: 80%;
  width: 8%;
  z-index: 2;
  transform: rotate(3deg);
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.trunkThreeBottom {
  position: absolute;
  left: 37%;
  bottom: 3%;
  background-color: #6d5f58;
  width: 8%;
  height: 10%;
  border-radius: 30% 70% 53% 47% / 76% 69% 31% 24%;
}

.branchThreeRight {
  position: absolute;
  right: 25%;
  top: 5%;
  height: 60%;
  width: 20%;
}

.branchThreeR {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(49deg);
  background-color: #6d5f58;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branchThreeRs {
  top: 20%;
  right: 68%;
  height: 55%;
}

.branchThreeLeft {
  position: absolute;
  right: 50%;
  top: 9%;
  height: 53%;
  width: 20%;
}

.branchThreeL {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(310deg);
  background-color: #6d5f58;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branchThreeLs {
  top: 20%;
  right: 90%;
  height: 55%;
}

.treeFour {
  width: 25%;
  left: 58%;
}

.topFour {
  position: absolute;
  top: 10%;
  background-color: #c43c32;
  height: 50%;
  width: 90%;
  border-radius: 100% 79% 63% 54% / 100% 89% 60% 53%;
  z-index: 1;
}

.trunkFour {
  position: absolute;
  left: 40%;
  bottom: 6%;
  background-color: #dcac5f;
  height: 70%;
  width: 8%;
  z-index: 2;
  border-radius: 100% 9% 51% 42% / 100% 100% 0% 0%;
}

.trunkFourBottom {
  position: absolute;
  left: 40%;
  bottom: 3%;
  background-color: #dcac5f;
  width: 8%;
  height: 10%;
  border-radius: 30% 70% 53% 47% / 76% 69% 31% 24%;
}

.treeFive {
  width: 25%;
  right: 0;
}

.topFive {
  position: absolute;
  top: 6%;
  background-color: #c43c32;
  height: 60%;
  width: 100%;
  border-radius: 46% 100% 63% 47% / 100% 89% 46% 39%;
  z-index: -1;
}

.trunkFive {
  position: absolute;
  left: 40%;
  bottom: 8%;
  background-color: #537335;
  height: 60%;
  width: 8%;
  z-index: 2;
  transform: rotate(-1deg);
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.trunkFiveBottom {
  position: absolute;
  left: 41%;
  bottom: 4%;
  background-color: #537335;
  width: 8%;
  height: 10%;
  transform: rotate(-1deg);
  border-radius: 30% 70% 53% 47% / 76% 69% 31% 24%;
}

.branchFiveRight {
  position: absolute;
  right: 23%;
  top: 23%;
  height: 60%;
  width: 20%;
}

.branchFiveR {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(49deg);
  background-color: #537335;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branchRiveRs {
  top: 20%;
  right: 55%;
  height: 55%;
}

.branchFiveLeft {
  position: absolute;
  right: 56%;
  top: 23%;
  height: 53%;
  width: 20%;
}

.branchFiveL {
  position: absolute;
  height: 40%;
  width: 15%;
  transform: rotate(310deg);
  background-color: #537335;
  border-radius: 0% 100% 35% 21% / 100% 100% 0% 0%;
}

.branchFiveLs {
  top: 20%;
  right: 90%;
  height: 55%;
}

@media screen and (max-width: 992px) {
  .forest {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 600px) {
  .forest {
    transform: scale(0.5);
  }
}
