@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color: #3b82f6;
  --secondary-color: #6b7280;
  --danger-color: #ef4444;
  --warning-color: #facc15;
  --success-color: #10b981;
  --info-color: #3b82f6;
  --btn-primary-text: #1e40af;
  --btn-primary-hover-bg: #bfdbfe;
  --btn-secondary-text: #374151;
  --btn-secondary-hover-bg: #e5e7eb;
  --btn-danger-text: #ffffff;
  --btn-danger-hover-bg: #fecaca;
  --btn-warning-text: #92400e;
  --btn-warning-hover-bg: #fde68a;
  --btn-success-text: #064e3b;
  --btn-success-hover-bg: #a7f3d0;
  --btn-info-text: #1e40af;
  --btn-info-hover-bg: #bfdbfe;
} */

@layer base {
  body {
    @apply bg-gradient-custom h-full p-0 m-0;
  }
  section {
    @apply container mx-auto p-4;
  }
  h1 {
    @apply text-3xl font-bold mb-3 text-white;
  }
  h2 {
    @apply text-xl font-bold mb-3 text-white;
  }
  h3 {
    @apply text-xl font-bold  text-white;
  }
  p,
  .text {
    @apply text-white;
  }
}

@layer utilities {
  .tab-panel {
    @apply p-2 text-white;
  }
  .tab {
    @apply !bg-night text-white;
  }
  .tab-active {
    @apply !bg-viridian;
  }
  .btn-primary {
    @apply bg-viridian text-white px-3 py-2 rounded-sm;
  }
  .btn-secondary {
    @apply bg-gunmetal text-white px-3 py-2 rounded-sm;
  }
}

svg text {
  font-size: 0.85rem;
}
