@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto+Flex:opsz,wght@8..144,300;8..144,600;8..144,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #3b82f6;
  --secondary-color: #6b7280;
  --danger-color: #ef4444;
  --warning-color: #facc15;
  --success-color: #10b981;
  --info-color: #3b82f6;
  --btn-primary-text: #1e40af;
  --btn-primary-hover-bg: #bfdbfe;
  --btn-secondary-text: #374151;
  --btn-secondary-hover-bg: #e5e7eb;
  --btn-danger-text: #ffffff;
  --btn-danger-hover-bg: #fecaca;
  --btn-warning-text: #92400e;
  --btn-warning-hover-bg: #fde68a;
  --btn-success-text: #064e3b;
  --btn-success-hover-bg: #a7f3d0;
  --btn-info-text: #1e40af;
  --btn-info-hover-bg: #bfdbfe; */
  --auburn: #a52a2a;
  --black: #0c0c0c;
  --blond: #faf0be;
  --blue: #0c0cdb;
  --brown: #622c22;
  --brown-mottle: #8b4513;
  --bush: #024c10; /* cls-10 */
  --bush-one: #0d7637; /* cls-6 */
  --bush-two: #88ba7b; /* cls-11 */
  --cactus: #3b6f3b;
  --dark: #6f4f1d;
  --dark-blue: #1111de;
  --dirt: #7a573b; /* cls-15 */
  --fair: #ffd6a4;
  --flower-color: #ff69b4;
  --foreground: #52755b; /* cls-5 */
  --gold: #ffd700;
  --green: #4eda12;
  --grey: #d8d8d8;
  --hazel: #637f19;
  --light: #fbe5ba;
  --lime-green: #b9da10;
  --metal: silver;
  --mottled-green: #3b6f3b;
  --mountain-one: #194759; /* cls-2 */
  --mountain-two: #669970; /* cls-3 */
  --mountain-three: #417656; /* cls-4 */
  --orange: #db5f0c;
  --pale: #fdf5e2;
  --pink: #a11f49;
  --purple: #9312db;
  --red: #d51449;
  --silver: #c0c0c0;
  --skin: #ffcd94;
  --sky: #98e1ed; /* cls-1 */
  --sky-blue: #0cdad0;
  --star: #fff;
  --starfield: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  --sun: #ffcc00;
  --tan: #d6b995;
  --thorn-color: #bebebe;
  --transparent: transparent;
  --tree: #6a976c;
  --tree-one-top: #aadcd7;
  --tree-one-trunk: #dcac5f;
  --tree-two-top: #307c7c;
  --tree-two-trunk: #594a42;
  --tree-three-top: #608445;
  --tree-three-trunk: #6d5f58;
  --tree-four-top: #c43c32;
  --tree-four-trunk: #5f3f3f;
  --tree-five-top: #babc5a;
  --tree-five-trunk: #537335;
  --trunk: #374544;
  --unknown: #000;
  --white: #f3f0f8;
  --white-blue: linear-gradient(white, blue);
  --yellow: #fed064;
}

@layer base {
  h1 {
    @apply text-3xl font-serif font-semibold;
  }
  h2 {
    @apply text-2xl font-serif font-semibold;
  }
  h3 {
    @apply text-xl font-serif font-semibold;
  }
  p {
    @apply text-base font-serif;
  }
  body {
    @apply text-base font-serif;
  }
  ul {
    @apply p-0;
  }
  input {
    @apply border-black border-solid rounded-lg py-3 px-0 my-0 border-0 outline-none text-center;
  }
  button[type='submit'] {
    @apply border-black text-white border-solid rounded-lg py-2 px-4 font-serif text-3xl bg-pink;
  }
}

@layer components {
  .card {
    @apply border-black text-black border-2;
  }
  .letter-box {
    @apply bg-white text-white font-bold border-black rounded-lg px-4 py-2 text-3xl shadow-lg;
  }
  .card-title {
    @apply text-2xl z-10 font-sans p-2 border-black bg-yellow text-black px-1 lg:text-lg m-0 font-semibold border-t-4 whitespace-nowrap;
  }
}

button,
input,
.card,
.letter-box {
  -webkit-box-shadow: 6px 6px 0px 0px var(--black);
  box-shadow: 6px 6px 0px 0px var(--black);
  border-radius: 4px;
  border: 6px solid var(--black);
}

body {
  background: #4c3cfa;
}

.bg-blue-grey {
  @apply bg-gradient-to-r from-dark-blue via-sky-blue to-grey;
}
.bg-green-tan-brown {
  @apply bg-gradient-to-r from-green via-tan to-brown;
}
.bg-fair-green-yellow {
  @apply bg-gradient-to-r from-fair via-green to-yellow;
}
.bg-grey-green-yellow {
  @apply bg-gradient-to-r from-grey via-green to-yellow;
}
.bg-red-blue-white {
  @apply bg-gradient-to-r from-red via-blue to-white;
}
.bg-white-blue {
  @apply bg-gradient-to-r from-white to-dark-blue;
}
.bg-white-red {
  @apply bg-gradient-to-r from-white to-red;
}
.bg-brown-white {
  @apply bg-gradient-to-r from-brown to-white;
}
.bg-green-yellow {
  @apply bg-gradient-to-r from-green to-yellow;
}
.bg-silver-red {
  @apply bg-gradient-to-r from-silver to-red;
}
.bg-green-grey {
  @apply bg-gradient-to-r from-green to-grey;
}
.bg-brown-grey {
  @apply bg-gradient-to-r from-brown to-grey;
}
.bg-auburn-white {
  @apply bg-gradient-to-r from-brown to-grey;
}
.bg-auburn-grey {
  @apply bg-gradient-to-r from-auburn to-grey;
}
.bg-grey-red {
  @apply bg-gradient-to-r from-grey to-red;
}
.bg-blue-grey {
  @apply bg-gradient-to-r from-blue to-grey;
}
.bg-grey-blue {
  @apply bg-gradient-to-r from-grey to-blue;
}
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button span {
  margin-left: 8px;
}

/* LANDSCAPES */
.bg-naboo {
  background: linear-gradient(to bottom, #1111de 0%, #0cdad0 70%, #0cdad0 100%);
}
.tree {
  clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
  box-shadow: 2px 0 2px 4px rgba(0, 0, 0, 0.1);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* barren animations */
@include animation(shiningStar) {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@include animation(sunshineBef) {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@include animation(sunshineAft) {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.2;
  }
}

.metal-background {
  background: var(--metal);
}
